<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.www.carovignoviva">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/stemma"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name="HomePage.Home"
        android:theme="@style/MatherialOrang">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT"/>

        </intent-filter>
        </activity>
        <activity android:name="Monuments.Information" />
        <activity android:name="Events.HomeEventi" />
        <activity android:name="Monuments.HomeMonumenti" />
        <activity android:name="Events.EventInfo" />
    </application>
</manifest>
