<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.www.carovignoviva">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
        android:name=".main"
        android:label="CarovignoViva"
            android:theme="@style/MatherialOrang">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
    <activity android:name=".carovigno"
        android:theme="@style/MatherialOrang"></activity>
    <activity android:name=".mare"></activity>
        <activity android:name=".specchiolla"></activity>
        <activity android:name=".serranova"></activity>
    </application>
</manifest>
